<!-- start about -->
  <div class="about" id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="titlepage">
            <h2>About Us</h2>
            <p>Hotel management is an area of the hospitality industry that involves overseeing the operations of a hotel location. When working as a hotel manager , you may manage the operations of a motel, resort or another similar establishment that provides lodging and other services for guests.</p>
            <a class="read_more btn btn-outline-primary" href="Javascript:void(0)"> Read More</a>
          </div>
        </div>
        <div class="col-md-7">
          <div class="about_img">
            <%= image_tag 'about.png', class: 'img-fluid rounded' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- end about -->