<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to Our Hotel Management System</h1>
  
  <p>Dear <%= @user.email %>,</p>
  
  <p>Thank you, Your Room Is Successfully Canceld.</p>
  
  <p>You can <a href="<%= @url %>">login here</a> to access your account and explore our features.</p>
  
  <p>If you have any questions or need assistance, please feel free to <a href="mailto:aakash.kushwah@codiatic.com">contact us</a>.</p>
  
  <p>Best Regards,<br>
     Hotel Management Team</p>
  
</body>
</html>
