/** about section **/

.about {
    background-color: #fff;
    padding-top: 85px;
}

.about .titlepage {
    text-align: left;
    padding-bottom: 0;
    max-width: 443px;
    width: 100%;
    float: right;
}

.about .titlepage h2 {
    margin-bottom: 35px;
}

.about .titlepage p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    padding-bottom: 35px;
}

.about_img {
    margin-right: 40px;
    overflow: hidden;
}

.about_img figure {
    margin: 0;
}

.about_img figure img {
    width: 100%;
    transition: all .5s;
}

.about_img figure img:hover {
    transform: scale(1.2);
}
/** end about section **/






/** our_room section **/

.our_room {
    background-color: #f4f5f7;
    padding: 60px 0 30px 0;
    margin-top: 90px;
}

.our_room .titlepage {
    text-align: center;
}

.our_room .titlepage p {
    color: #121212;
    font-size: 17px;
    margin-top: 20px;
}

.our_room .room {
    text-align: center;
    background-color: #fff;
    margin-bottom: 30px;
    transition: ease-in all 0.5s;
}

.our_room .room .room_img {
    overflow: hidden;
}

.our_room .room .room_img figure {
    margin: 0;
}

.our_room .room .room_img figure img {
    width: 100%;
    transition: all .5s;
}

.our_room .room .room_img figure img:hover {
    transform: scale(1.2);
}

.our_room .room .bed_room {
    padding: 33px 30px;
}

.our_room .room .bed_room h3 {
    color: #121212;
    font-size: 25px;
    line-height: 20px;
    font-weight: 500;
    transition: ease-in all 0.5s;
    margin: auto;
}

#serv_hover:hover.room {
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(255, 9, 9, 0.15);
    transition: ease-in all 0.5s;
}


/** end our_room section **/


/** blog section **/

/* .blog {
    background: url(../images/blog_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 60px 0 30px 0;
    margin-top: 60px;
} */

.blog .titlepage {
    text-align: center;
}

.blog .titlepage h2 {
    /* color: #fff; */
    color: black;
}

.blog .titlepage p {
    /* color: #fff; */
    color: black;
    font-size: 17px;
    margin-top: 20px;
}

.blog .blog_box {
    text-align: left;
    background-color: #fff;
    margin-bottom: 30px;
    transition: ease-in all 0.5s;
}

.blog .blog_box .blog_img {
    overflow: hidden;
}

.blog .blog_box .blog_img figure {
    margin: 0;
}

.blog .blog_box .blog_img figure img {
    width: 100%;
    transition: all .5s;
}

.blog .blog_box .blog_img figure img:hover {
    transform: scale(1.2);
}

.blog .blog_box .blog_room {
    padding: 33px 30px;
    text-align: left;
}

.blog .blog_box .blog_room h3 {
    color: #121212;
    font-size: 25px;
    line-height: 20px;
    font-weight: 500;
    padding-bottom: 5px;
    transition: ease-in all 0.5s;
    margin: auto;
}

.blog .blog_box .blog_room span {
    font-size: 15px;
    color: #ff0909;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.blog .blog_box .blog_room p {
    font-size: 14px;
    line-height: 20px;
}


/** end blog section **/

/** footer **/

.footer {
    background: #0f1521;
    margin-top: 90px;
    padding-top: 60px;
    text-align: center;
}

.footer h3 {
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
    text-align: left;
    color: #fff;
    margin-bottom: 15px;
    border-bottom: #ff0909 solid 3px;
    padding-bottom: 3px;
    display: table;
}

ul.conta li {
    color: #fff;
    text-align: left;
    padding-bottom: 20px;
    font-size: 16px;
}

ul.conta li i {
    padding-right: 15px;
    text-align: center;
    font-size: 20px;
}

ul.conta li a {
    color: #fff;
}

ul.link_menu li {
    display: block;
    text-align: left;
}

ul.link_menu li.active a {
    color: #ff0909;
}

ul.link_menu li a {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    display: block;
    width: -moz-max-content;
}

ul.link_menu li a:hover {
    color: #ff0909;
}

.bottom_form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
}

.bottom_form h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    color: #fff;
    padding-top: 12px;
    margin-right: 93px;
    text-transform: uppercase;
    border: inherit;
}

.bottom_form .enter {
    border: inherit;
    padding: 0px 19px;
    width: 100%;
    height: 45px;
    background: #fffffff2;
    color: #ccc8c8;
    font-size: 17px;
    font-weight: 300;
    float: left;
    margin-bottom: 20px;
}

.sub_btn {
    font-size: 17px;
    transition: ease-in all 0.5s;
    background-color: #fff;
    color: #ff0909;
    padding: 8px 0px;
    max-width: 147px;
    width: 100%;
    font-weight: 500;
    text-transform: uppercase;
    height: 47px;
}

.sub_btn:hover {
    background-color: #ff0909;
    transition: ease-in all 0.5s;
    color: #fff;
}

ul.social_icon {
    padding-top: 24px;
    width: 100%;
    float: left;
    text-align: left;
}

ul.social_icon li {
    display: inline-block;
}

ul.social_icon li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    border-radius: 30px;
    margin: 0 9px;
    color: #fff;
}

ul.social_icon li a:hover {
    color: #ff0909;
}

.copyright {
    margin-top: 60px;
    padding-bottom: 20px;
    background-color: #fff;
    border: #ff0909 solid 3px;
    border-right: inherit;
    border-left: inherit;
}

.copyright p {
    color: #000;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-top: #a3aec6 solid 1px;
    padding-top: 25px;
    font-weight: normal;
}

.copyright a {
    color: #000;
}

.copyright a:hover {
    color: #ff0909;
}


/** end footer **/


/**  inner page css **/
.back_re {
    background-color: #0f1521;
}
.back_re .title {
    text-align: center;
}
.back_re .title h2 {
color:#fff;
font-size: 40px;
padding: 40px 0;
font-weight: 600;
text-transform: uppercase;
line-height: 35px;
}
.margin_0 {
    margin:0 !important;
}


.inner_page .gallery {
    padding-top: 90px;
}
.inner_page .blog {
    margin-top: 90px;
}